// .footer {
//     background-color: var(--backgr-dark-color);
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .footer__flex-wrapper {
//     display: flex;
//     gap: 70px;
//     align-items: baseline;
// }

// .footer__logo {
//     display: block;
//     margin-bottom: 20px;
// }

// .footer__logo-accent {
//     color: var(--white-text-color);
// }

// .address__street {
//     color: var(--white-text-color);
//     margin-bottom: 9px;
//     font-size: 14px;
//     line-height: 1.71;
//     font-style: normal;
//     letter-spacing: 0.03em;
// }

// .address__list {
//     padding: 0;
//     margin: 0;
//     list-style: none;
// }

// .address__item:not(:last-child) {
//     margin-bottom: 9px;
// }

// .address__link {
//   color: #FFFFFF99;
//   font-size: 14px;
//   font-style: normal;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//   &:hover,
//   &:focus {
//   color: #2196F399;
// }
// }

// .connect__list {
//     display: flex;
//     gap: 10px;
//     justify-content: center;
// }

// .connect__item {
//     width: 44px;
//     height: 44px;
//   }

// .footer__heading {
//     display: block;
//     color: var(--white-text-color);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 20px;
//   }

//   .connect__link {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
//   &:hover,
//   &:focus {
//     background-color: var(--accent-color);
//   }
//   }

//   .connect__icon {
//     fill: var(--white-text-color);
//   }


//   .subscribe {
//   display: flex;
//   flex-direction: column;
//   }

//   .subscribe__wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .subscribe__input {
//     width: 358px;
//     height: 50px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     background-color: transparent;
//     margin-right: 12px;
//     padding: 15px 16px;
//   }

//   .subscribe__btn {
//     display: flex;
//     align-items: center;
//     text-align: center;
//     gap: 10px;
//     min-width: 200px;
//     padding: 10px 28px;
//   }