.site-nav {
    display: none;
}

.contact-nav {
    display: none;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

// //.header {
//     background-color: var(--white-text-color);
//     padding-top: 24px;
//     padding-bottom: 25px;
//     border-bottom: 1px solid #ECECEC;
// //}

// //.header-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-top: 0;
//     padding-bottom: 0;
// //}

// //.page-navigation {
//     display: flex;
//     align-items: center;
// //}

.logo {
    color: var(--accent-color);
    display: flex;
    margin-right: 93px;

    font-family: var(--logotype-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo__accent{
    color: var(--black-text-color);
}

// //.site-nav {
//     display: flex;
//     gap: 50px;
// //}

// //.site-nav__link {
//     position: relative;

//     color: var(--black-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
//  //   &:hover,
//  //   &:focus {
//     color: var(--accent-color);
// //}
// //}

// //.site-nav__link_current {
//     color: var(--accent-color);

//     &::after {
//     position: absolute;

//     content: "";
//     display: block;
//     bottom: -33px;
//     width: 100%;
//     height: 4px;

//     background-color: var(--accent-color);
//     border-radius: 2px;
//     opacity: 1;
// }
// //}

// //.contact-nav {
//     display: flex;
//     gap: 50px;
// //}

// //.contact-nav__link {
//     display: flex;
//     align-items: center;
//     color: var(--general-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
// //    &:hover,
// //    &:focus {
//     color: var(--accent-color)
// //}
// //}

// //.contact-nav__icon {
//     fill: currentColor;
//     margin-right: 10px;
// //}