.hero {
    max-width: 1600px;
    height: 600px; 
    margin-left: auto;
    margin-right: auto;

    background-color: var(--backgr-dark-color);
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
    ),
    url('../images/dsktp-hero.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.hero__section-hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    color: var(--white-text-color);
    margin: 0 auto;
    margin-bottom: 30px;

    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    
    text-transform: uppercase;
}

.hero__btn {
    min-width: 216px;
    padding: 10px 32px;
    height: 50px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
  
    color: var(--white-text-color);
    background-color: var(--accent-color);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
  &:hover,
  &:focus,
  &:active {
    color: var(--white-text-color);
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
  }