
.portfolio__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.portfolio__img {
    width: 100%;
}

.portfolio__overlay {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    max-width: 370px;
    height: 100%;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-text-color);

    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .portfolio__link:hover &,
    .portfolio__link:focus & {
    transform: translateY(0);
}
}

.card-wrapper {
    flex-grow: 1;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;   
}

.card-wrapper__heading {
    color: var(--black-text-color);
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-wrapper__info {
    color: var(--general-text-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
    .portfolio__cards {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .portfolio__cards {
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio__item {
        flex-basis: calc((100% - 30px) / 2);
        gap: 30px;
    }

    .portfolio__overlay {
        width: 354px;
    }

    .portfolio__overlay-text {
        width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio__item {
        flex-basis: calc((100% - 60px) / 3); 
    }
    .portfolio__overlay {
        width: 370px;
    }

    .portfolio__overlay-text {
        width: 370px;
    }

}


// .portfolio__cards {
//     flex-wrap: wrap;
//     padding: 0;
//     margin: 0;
// }

// .portfolio__item {
//     flex-basis: calc((100% - 60px) / 3);
// }