.team {
    background-color: var(--backgr-grey-color);
}

.teammate__heading {
    color: var(--black-text-color);
    margin-bottom: 0;
    font-size: 16px;

    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.teammate__info {
    color: var(--general-text-color);
    margin-top: 10px;

    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.team-socials__item {
    width: 44px;
    height: 44px;
  }

  .team-socials__link {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--greyish-color);
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    background-color: var(--accent-color);
  }
  }
  
  .team-socials__icon {
    fill: var(--greyish-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .team-socials__link:hover &, 
    .team-socials__link:focus & {
    fill: var(--white-text-color);
  }
  }
  
@media screen and (max-width: 767px) {

    .teammate:not(:last-child) {
        margin-bottom: 30px;
    }

    .teammate {
        width: 100%;
        background-color: var(--white-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .teammate__wrapper {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .teammate {
        width: calc((100% - 30px) / 2);
        background-color: var(--white-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .teammate__wrapper {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 24px;
    }   
}

@media screen and (min-width: 1200px) {

.teammate {
    flex-basis: calc((100% - 90px) / 4);
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: block;
}

.teammate__wrapper {
    padding-bottom: 30px;
}
}

