.values__item {
    flex-basis: calc((100% - 90px) / 3);
    gap: 30px; 
}

.values__icon-background {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgr-grey-color);
    height: 120px;
    margin-bottom: 30px;
}

.values__heading {
    color: var(--black-text-color);
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.values__info {
    color: var(--general-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}