.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-hidden {
    visibility: hidden; 
    opacity: 0;
    pointer-events: none;
  }

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);

    width: 450px;
    height: 609px;
    background-color: var(--white-text-color);
    padding: 40px;

    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    @media screen and (min-width: 1200px) {
      width: 528px;
      height: 581px;
    }
  }

  .is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
  }