// .portfolio__filter {
//     display: flex;
//     justify-content: center;
//     gap: 8px;
//     margin-bottom: 50px;
// }

// .btn-secondary {
//     min-width: 73px;
//     padding: 6px 25px;
//     height: 38px;
//     font-weight: 500;
//     line-height: 1.62;
//     letter-spacing: 0.03em;

//     color: var(--black-text-color);
//     background-color: var(--backgr-grey-color);

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
//                 color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
//                 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
//     &:hover,
//     &:focus,
//     &:active {
//     color: var(--white-text-color);
//     background-color: var(--accent-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
// }
// }