:root {
    --primary-font: 'Roboto', sans-serif;
    --logotype-font: 'Raleway', sans-serif;

    --black-text-color: #212121;
    --white-text-color: #FFFFFF;
    --general-text-color: #757575;
    --accent-color: #2196F3; 

    --backgr-dark-color: #2F303A; 
    --backgr-grey-color: #F5F4FA;
    --greyish-color: #AFB1B8;
}